// This is a partial.
// It lies in <source>/_sass, just waiting to be imported.
// It does not contain the YAML front matter and has no corresponding output file in the built site.

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

a {
  color: #0366d6;
}

code,
pre {
  font-family: Menlo, Consolas, "Consolas for Powerline", "Courier New", Courier,
    monospace;
  background-color: #2b2b2b;
  color: #fff;
  padding: 0.25em;
}

.square {
  width:300px;
  height:400px;
  // background:greenyellow;
  background-image: url("../nika.jpg");
  display: table; 
}

.square text {
  color: greenyellow;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.square left {
  position : absolute;
  // transform: translate(20px, 20px);
  top: 155px;
  left: 75px;
  width: 40px;
  height: 40px;
  background-image: url("../awesome-face-transparent2.png");
}

.square right {
  position : absolute;
  // transform: translate(20px, 20px);
  top: 155px;
  left: 175px;
  width: 40px;
  height: 40px;
  background-image: url("../awesome-face-transparent2.png");
}